@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-gray-100 container mx-auto;
  font-family: sans-serif;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  @apply w-[6px] h-[6px] bg-slate-950 rounded-3xl;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-800 hover:bg-slate-700 duration-300 rounded-3xl;
  margin-left: 2px;
}

/* Custom classes */
.inputOne {
  @apply w-full rounded bg-gray-950 h-9 outline-none border border-gray-500 pl-2 mt-2 focus-within:border-blue-500 duration-200;
}

.linkOne {
  @apply text-blue-500 hover:text-blue-600 duration-200 cursor-pointer;
}

.code {
  @apply text-sm border border-b-2 border-gray-500 text-blue-600 rounded-md cursor-default mx-1 font-extralight px-1;
}

.banner-img {
  max-width: 150px;
  height: 5rem;
  padding: 0 40px;
  object-fit: cover;
}

.banner-img:last-of-type {
  padding-left: 0;
}

.inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 5rem;
}

.inner::before,
.inner::after {
  content: '';
  position: absolute;
  top: 0;
  width: 30%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.inner::before {
  left: 0;
  background: linear-gradient(to right, rgba(3, 7, 18, 0.9), transparent);
}

.inner::after {
  right: 0;
  background: linear-gradient(to left, rgba(3, 7, 18, 0.9), transparent);
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.wrapper {
  display: flex;
}

.section-banner {
  display: flex;
  animation: swipe var(--speed) linear infinite;
}
