@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

@layer utilities {
  @variants hover {

    /*span elements with links decoration */
    .custom-span {
      color: #F59E0B;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }
    .custom-span:hover {
      text-decoration: underline;
    }
    .dark-custom-span {
      color: #1E88E5;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }
    .dark-custom-span:hover {
      text-decoration: underline;
    }
  }

}
