@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", system-ui;
}

@layer utilities {
  @variants hover {

    /*span elements with links decoration */
    .cs {
      display: inline-block;
      padding: 2px 8px;
      font-size: 0.7rem;
      border: 1px solid #121212;
      border-radius: 6px;
      background-color: #EEEEEE;
      border-bottom-width: 3px;
      font-weight: bold;
      color: #FF6F00;
      cursor: default;
      transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    }
    .cs:hover {
      background-color: #BDBDBD;
    }
    .dcs {
      display: inline-block;
      padding: 2px 8px;
      font-size: 0.7rem;
      border: 1px solid #FAFAFA;
      border-radius: 6px;
      background-color: #424242;
      border-bottom-width: 3px;
      font-weight: bold;
      cursor: default;
      color: #1e88e5;
      transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    }
    .dcs:hover {
      background-color: #616161;
    }
    .syntax {
      @apply w-fit overflow-x-scroll max-w-[90vw] md:max-w-[60vw];
    }
    .cl {
      @apply text-yellow-500 dark:text-blue-600 hover:underline cursor-pointer
    }
  }
}
