@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

@layer utilities {
  @variants hover {

    /*span elements with links decoration */
    .cs {
      background-color: #F59E0B;
      border-radius: 10px;
      cursor: pointer;
      color: black;
      padding: 0 5px;
    }
    .dcs {
      background-color: #1E88E5;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      padding: 0 5px;
    }
  }
}
